body {
    background-image: url("../img/background.jpg");
    background-color: #00a0e2;
    height: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

h2, h1 {
    font-family: 'Righteous', sans-serif;
}

#header {
    font-size: 3rem;
}

.book-list {
    margin-top: 50px;
}

.card-body {
    background-color: white;
    margin: 20px;
    border-radius: 0.5rem;
}

.card-img {
    background-image: url("../img/noimage.png");
}

.star-unselected {
    color: #e4e5e9;
    cursor: pointer;
}

.star-selected {
    color:#ffc107;
    cursor: pointer;
}